---
import MainLayout from "../../layouts/MainLayout.astro";
const { title, content, image, author, date } = Astro.props;

export async function getStaticPaths() {
  let data = await fetch("https://cms.udrugamisija.hr/api/posts");
  let posts = await data.json();

  return posts.docs.map((post) => {
    return {
      params: { slug: post.id },
      props: { title: post.title, content: post.content, image: post.image.filename, author: post.author.name, date: post.createdAt  },
    };
  });
}
---

<MainLayout title={title}>
  <article>
    <h1>{title}</h1>
    <span>Autor: {author}</span>
    <span>{date}</span>
    <img src={ `https://cms.udrugamisija.hr/media/${image}`} />
    <p>{content}</p>
    <a href="/novosti">Povratak na Novosti</a>
  </article>
</MainLayout>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: auto;
  }
  img {
  }
</style>