---
import MainLayout from "../../layouts/MainLayout.astro";
const { title, content, image, author, date } = Astro.props;

export async function getStaticPaths() {
  let data = await fetch("https://cms.udrugamisija.hr/api/posts");
  let posts = await data.json();

  return posts.docs.map((post) => {
    return {
      params: { slug: post.slug },
      props: { title: post.title, content: post.content, image: post.image.filename, author: post.author.name, date: post.publishedDate },
    };
  });
}
---

<MainLayout title={title}>
  <article>
    <h1>{title}</h1>
    <small>Autor: {author}</small>
    <small>{new Date(date).toDateString()}</small>
    <img src={ `https://cms.udrugamisija.hr/media/${image}`} />
    <p>{content}</p>
    <a href="/novosti">Povratak na Novosti</a>
  </article>
</MainLayout>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: auto;
  }
  a {
    color: var(--color-neutral-000);
      width: fit-content;
      background-color: var(--color-neutral-900);
      border-radius: var(--borderradius-button);
      padding: var(--padding-200);
      font-weight: var(--fontweight-600);
      text-decoration: none;
      border-bottom: 1px solid var(--color-highlight);
  }
</style>