---
const title = "Novosti";

import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";

const res = await fetch("https://cms.udrugamisija.hr/api/posts");
const posts = await res.json();
---

<MainLayout title={title}>
  <Hero title={title} />

  <main>
    {
      posts.docs.map((post) => (
        <article>
          <h2>{post.title}</h2>
          <img src={post.image.sizes.tablet.url} />
          <span>Autor: {post.author.name}</span>
          <span>{post.createdAt}</span>
          <p>{post.content.slice(0, 200)}...</p>
          <a href={`novosti/${post.title.split(" ").join("-").toLowerCase()}`}>Pročitaj više...</a>
        </article>
      ))
    }
  </main>
</MainLayout>

<style>
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    article {
        flex-basis: max(33%, 500px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
    }

</style>