---
const title = "Novosti";

import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";

const res = await fetch("https://cms.udrugamisija.hr/api/posts?where[category.name][equals]=News");
const posts = await res.json();
---

<MainLayout title={title}>
  <Hero title={title} />

  <main>
    {
      posts.docs.map((post) => (
        <article>
          <h2>{post.title}</h2>
          <img src={post.image.sizes.tablet.url} />
          <small>Autor: {post.author.name}</small>
          <small>{new Date(post.publishedDate).toDateString()}</small>
          <p>{post.content.slice(0, 200)}...</p>
          <a href={`/novosti/${post.slug}`}>Pročitaj više...</a>
        </article>
      ))
    }
  </main>
</MainLayout>

<style>
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--gap-800) var(--gap-200)
    }
    article {
        flex-basis: max(33%, 500px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
    }
    article img {
      aspect-ratio: 16/10;
      object-fit: cover;
    }
    article p {
      line-height: var(--lineheight-paragraph);
      
    }
    a {
      color: var(--color-neutral-000);
      width: fit-content;
      background-color: var(--color-neutral-900);
      border-radius: var(--borderradius-button);
      padding: var(--padding-200);
      font-weight: var(--fontweight-600);
      text-decoration: none;
      text-align: right;
    }

</style>