---
const title = "Projekti i aktivnosti";

import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";



  let data = await fetch("https://cms.udrugamisija.hr/api/posts?where[category.name][equals]=Projects");
  let projects = await data.json();


---

<MainLayout title={title}>
  <Hero
    title={title}
    subtitle={"MiSiJa iza sebe ima brojne projekte i aktivnosti."}
  />
  <section>
    <h2>Projekti</h2>
    {projects.docs.map((post) => (
      <article>
        <h3>{post.title}</h3>
        <small>{new Date(post.publishedDate).toDateString()}</small>
        <img src={`https://cms.udrugamisija.hr/media/${post.image.filename}`} />
        <small>Autor: {post.author.name}</small>
        <p>{post.content}</p>
        </article>
        ))}
  </section>
  <section>
    <h2>Aktivnosti</h2>
  </section>
</MainLayout>

<style>
  h2{
    text-align: center;
    border-bottom: 2px solid var(--color-highlight);

  }
  section {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-400);
  }
    article {
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
    }
</style>