---
const { stat1, stat2, stat3, stat4 } = Astro.props;
---

<div class="container">
  <div><span class="number">{stat1.number}</span>{stat1.text}</div>
  <div><span class="number">{stat2.number}</span>{stat2.text}</div>
  <div><span class="number">{stat3.number}</span>{stat3.text}</div>
  <div><span class="number">{stat4.number}</span>{stat4.text}</div>
</div>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-400);
    padding: var(--padding-400);
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-000);
    border-radius: var(--borderradius-image);
    max-width: 600px;
    margin: auto;
  }
  .container > div {
    flex-basis: calc(50% - var(--gap-400));
    display: flex;
    flex-direction: column;
    font-size: var(--fontsize-600);
    text-align: center;
  }
  .number {
    font-weight: var(--fontweight-600);
    font-size: var(--fontsize-800);
  }
</style>
