---
const {stat1, stat2, stat3, stat4} = Astro.props
---
<div>
    <div><span>{stat1.number}</span>{stat1.text}</div>
    <div><span>{stat2.number}</span>{stat2.text}</div>
    <div><span>{stat3.number}</span>{stat3.text}</div>
    <div><span>{stat4.number}</span>{stat4.text}</div>
</div>